<a href="https://colab.research.google.com/github/Rushikesh419/Assignment/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)
# Swap the highest and the lowest temperatures

temperatures[max_temp_index]=min_temp   

temperatures[min_temp_index]=max_temp   
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

Problem 2
Measures of Averages
Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has N
 numbers where N
 is odd, then median is the element in the middle i.e, (N+1)/2
 
 element. If 
 is even, then median is the mean of (N/2)
 
 and 
 (N/2)+1
 elements

In [2]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
mean_price

1975.0

In [3]:
#sum of elements in list
list1 = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
total = sum(list1)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  19750

In [4]:
len(list1) # length of list

10

In [5]:
mean=total/len(list1)
mean

1975.0

In [6]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [7]:
# Check if the number of elements in the list is even or odd
if len(sorted_prices)%2==0:
    print("Even")
else:
   print("odd")

Even

In [8]:
# Use the corresponding formula to calculate the median and print the median
sorted_prices_list = [250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]
num=len(sorted_prices_list)/2
num1=int(num)
ele1=sorted_prices_list[num1]
ele2=sorted_prices_list[num1-1]
median=(ele1+ele2)/2
median

575.0

In [9]:
from statistics import median
# Use the corresponding formula to calculate the median and print the median
length_list = len(sorted_prices)
median_price = (sorted_prices[int(length_list/2)-1]+sorted_prices[int(length_list/2)])/2
median_price

575.0

In [10]:
# Check which is greater, mean or median
mean_price > median_price

True

Why do you think that is the case??
Write your explanation in this text cell
Your explanation :

Mean:
To obtain the mean of a set of numbers, you have to sum up all the numbers and then divide it using the total numbers. In short, it is taking out the average of all numbers.

Median:
When you arrange a given set of numbers from smaller to biggest, the middle number is said to be the median. Arrange any given series in either ascending or descending order or the middle value then is termed as the median.

To find the median the data can be arranged in either descending order or ascending order.

After arranging everything from smallest to biggest, take out the middle number, which is your median.

When series have even numbers, median is the simple average of the middle pair of numbers.

When data distribution is skewed, median is the best representative.

when the distribution of data is skewed to the left, the mean is often less than the median. When the distribution is skewed to the right, the mean is often greater than the median.

Mode:
The most frequently occurred number in a given set of observations is called mode.

The mode is derived when a number has frequency occurred in a series

Problem 3
Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [11]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']
# Write your code below
last_element = tech_companies[-1]
companies = tech_companies[:3]+tech_companies[-1]
companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [12]:
# Do the same task another way
tech_companies.remove(last_element)

tech_companies.extend(last_element)
tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']